# Local .terraform directories
backend.tf
builds/*
.venv
**/.terraform/*
*.idea
**.idea
# .tfstate files
*.tfstate
*.tfstate.*


crash.log
crash.*.log

.terraform.lock.hcl

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc
